<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


</head>
<body>
    <footer>
        <h2><span>hesaplar.net </span> ile düşünmeden hesapla.</h2>
        <div class="footer-cizgi"></div>
        <div class="footer-imgs">
            <a href="https://www.instagram.com"><img class="footer-img" src="{% static 'img/instagram.png' %}"></a>
            <a href="https://www.facebook.com"><img class="footer-img" src="{% static 'img/facebook.png' %}"></a>
            <a href="https://www.twitter.com"><img class="footer-img" src="{% static 'img/twitter.png' %}"></a>
        </div>
        <p>Created by <span>HT-19 Attack</span></p>
    </footer>
</body>
</html>